@import url("http://fonts.googleapis.com/css?family=Montserrat:400,600");
html {
  height: 100%;
}
body {
  background-image: url(/image/HBD.png);
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.container {
  text-align: center;
  padding: 0.8em 1.2em;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1,
.subhead {
  position: relative;
  z-index: 3;
}
.subhead {
  font-size: 1.1em;
}
h1 {
  font-size: 15rem;
  text-align: center;
  /* line-height: 90vh; */
  color: #fcedd8;
  /* background: #d52e3f; */
  font-family: "Niconne", cursive;
  font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b;
}
p,
blockquote {
  font-size: 0.9em;
  line-height: 1.6em;
}
p {
  margin-top: 1em;
  font-size: 15rem;
  text-align: center;
  color: #fcedd8;
  font-family: "Niconne", cursive;
  font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b;
}

.server {
  width: 70%;
  /* margin: 1em auto 1em 25%; */
  border-radius: 10px;
}

.flex-sound{
  /* display: none; */
}
@media only screen and (min-width: 200px) {
  .server {
    width: 50%;
  }

  h1 {
    font-size: 3em;
    margin: 0;
    margin-bottom: 6%;
    text-align: center;
    /* line-height: 90vh; */
    color: #fcedd8;
    /* background: #d52e3f; */
    font-family: "Niconne", cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b;
  }

  .subhead {
    font-size: 1.4em;
    margin-bottom: 2%;
  }
}
@media only screen and (min-width: 300px) {
  .server {
    width: 50%;
  }

  h1 {
    font-size: 3em;
    margin: 0;
    margin-bottom: 6%;
    text-align: center;
    /* line-height: 90vh; */
    color: #fcedd8;
    /* background: #d52e3f; */
    font-family: "Niconne", cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b;
  }

  .subhead {
    font-size: 1.4em;
    margin-bottom: 2%;
  }
}
@media only screen and (min-width: 350px) {
  .server {
    width: 50%;
  }

  h1 {
    font-size: 3em;
    margin: 0;
    margin-bottom: 6%;
    text-align: center;
    /* line-height: 90vh; */
    color: #fcedd8;
    /* background: #d52e3f; */
    font-family: "Niconne", cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b;
  }

  .subhead {
    font-size: 1.4em;
    margin-bottom: 2%;
  }
}
@media only screen and (min-width: 450px) {
  .server {
    width: 50%;
  }

  h1 {
    font-size: 3em;
    margin: 0;
    margin-bottom: 6%;
    text-align: center;
    /* line-height: 90vh; */
    color: #fcedd8;
    /* background: #d52e3f; */
    font-family: "Niconne", cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b;
  }

  .subhead {
    font-size: 1.4em;
    margin-bottom: 2%;
  }
}

@media only screen and (min-width: 550px) {
  .server {
    width: 50%;
  }

  h1 {
    font-size: 3em;
    margin: 0;
    margin-bottom: 6%;
    text-align: center;
    /* line-height: 90vh; */
    color: #fcedd8;
    /* background: #d52e3f; */
    font-family: "Niconne", cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b;
  }

  .subhead {
    font-size: 1.4em;
    margin-bottom: 2%;
  }
}

@media only screen and (min-width: 600px) {
  .server {
    width: 50%;
  }

  h1 {
    font-size: 3em;
    margin: 0;
    margin-bottom: 6%;
    text-align: center;
    /* line-height: 90vh; */
    color: #fcedd8;
    /* background: #d52e3f; */
    font-family: "Niconne", cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b;
  }

  .subhead {
    font-size: 1.4em;
    margin-bottom: 2%;
  }
}
@media only screen and (min-width: 650px) {
  .server {
    width: 50%;
  }

  h1 {
    font-size: 3em;
    margin: 0;
    margin-bottom: 6%;
    text-align: center;
    /* line-height: 90vh; */
    color: #fcedd8;
    /* background: #d52e3f; */
    font-family: "Niconne", cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b;
  }

  .subhead {
    font-size: 1.4em;
    margin-bottom: 2%;
  }
}

@media only screen and (min-width: 875px) {
  .subhead {
    margin-bottom: 2%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }
  @media only screen and (min-width: 1600px) {
    .server {
      width: 40%;
      margin: 5em auto 4em 15%;
    }
    .container {
      width: 70%;
    }
  }
}
